body, html {
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 "Lato", sans-serif;
	color: #777;	/*"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	max-width: 100%;	/*overflow-x: hidden;*/
}

/*body {
	overflow-x: hidden;
}*/
.bgimg-1, .bgimg-2, .bgimg-3 {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.bgimg-1 {

	/*background-image: url(../images/image.png);*/
	/*background-color: #1E1E1E;*/
	background: linear-gradient(to right, #282828 , #1E1E1E);
	min-height: 100%;
}

.About-Us {
	color: #777;
	position: relative;
	background-color: white;
	text-align: center;
	padding: 50px 80px;	/*text-align: justify;*/
	min-height: 100%
}

.About-Us h3, p {
	text-align: center;
	color: black;
}

/*.bgimg-2 {
background-image: url("https://cdn.nanalyze.com/uploads/2016/01/Quantum-Computing-Companies-Teaser.jpeg");
min-height: 50%;
}

.bgimg-3 {
background-image: url("https://static1.squarespace.com/static/5254683be4b0dd64d4afd300/t/56719f961115e02bda9e97e3/1442853903779/shutterstock_149651078.jpg?format=2500w");
min-height: 400px;
}*/
.caption {
	position: absolute;
	left: 0;
	top: 20%;
	width: 100%;
	text-align: center;
	color: white;
	padding: 18px;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: 'Roboto', sans-serif;
}

.header-text h3 {
	font-size: 85px;
	letter-spacing: 10px;
}

/*.header-animation {
	margin-top:125px;
	width: 100%;
	height: 100px;
}*/
.anim{
	margin-top:10%;
	width: 100%;
	height: 100px;
}
