body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;  /*"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  max-width: 100%;
  overflow-x: hidden;
}

.bgimg-2 {
  background-image: url(images/image2.png);
  min-height: 240px;
  margin-bottom: 50px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  min-width: 50rem;
  padding-top: 3rem;
  padding-bottom: 3rem; /* background-color: #f7f7f7;*/
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
  display: block;
  object-fit: cover;
  // Center crop image
  max-width: 356px;
  max-height: 280px;
  width: auto;
  height: auto;
}

.card-text {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: black;
}

.card-text > h5 {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}

.card-text > p {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0;
}

.card-text > span {
  color: gray;
  font-weight: 400;
  font-size: 1rem;
}
